<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

    <title>Document</title>
</head>
<body>
<div id="app">
    <button v-on:dblclick="show">Click me</button>

    <ul>
        <li v-for="item in numbers">{{item}}</li>
    </ul>

    <p v-if="years < 2000">Arrivé il y a de nombreuses années</p>
    <p v-if="years == 2004">Arrivé il y a 18 ans</p>
    <p v-if="years > 2004">Pas encore arrivé</p>
</div>

<script type="module" src="sscript.js"></script>
</body>
</html>